{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@js_client_base' output='compiled/js/client_base.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}