{% extends ':AppBundle:client_base.html.twig' %}

{% block body %}
    Экзамен не начат. Ожидайте
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/exam-client.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var exam = null;
            {{ include(':AppBundle/partials:web_socket_connect.js.twig') }}
        });
    </script>
{% endblock %}