{% extends ':AppBundle:client_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/jplayer/skin/blue.monday/css/jplayer.blue.monday.css') }}">
{% endblock %}

{% block body %}
    <div class="cm-h">
        <span class="c_success">Тема: </span><span id="reportTitle">Ожидается следующая тема</span>
    </div>
    <div class="cm-h">
        <span class="c_success">Студент: </span><span id="studentFio">Ожидается следующий студент</span>
    </div>
    <div class="present_content">
        <div class="present_cell-left">
            <div class="present_body" id="screenContainer"></div>
            <div class="present_action" id="addQuestion" style="display: none">
                <form action="#">
                    <div class="present_action-edit">
                        <input placeholder="Задайте вопрос" type="text" class="present-control">
                        <button id="add-question-btn" class="present_action-btn present_action-btn-success" type="submit"><i class="fa fa-paper-plane"></i></button>
                        <button id="add-question-btn-inactive" class="present_action-btn present_action-btn-success add_question_btn_inactive" type="submit" style="display: none"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="present_cell-right">
            <div class="present_body present_body-min">
                <div class="present_body-min-top">
                    <div id="jp_container_1" class="jp-video " role="application" aria-label="media player">
                        <div class="jp-type-single">
                            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                            <div class="jp-gui">
                                <div class="jp-video-play">
                                    <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                </div>
                            </div>
                            <div class="jp-no-solution">
                                <span>Требуется обновление</span>
                                Для воспроизведения видео вам нужно либо обновить браузер до последней версии,
                                либо обновить <a href="http://get.adobe.com/flashplayer/" target="_blank">флэш плагин</a>.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="present_body-min-bottom present_body-scroll" id="questionListContainer">
                    <div class="present_body-list" id="questionList">
                    </div>
                </div>
            </div>
            <div class="present_action" id="addGrade" style="display: none">
                <a href="#" class="cm_btn cm_btn-block" id="addGradeLink">Поставить оценку</a>
                <a href="#" class="cm_btn cm_btn-block inactive-add_grade-link" id="addGradeLinkInactive" style="display: none">Поставить оценку</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    {{ include('AppBundle/partials/modal_grades.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@js_client_expert' output='compiled/js/client_expert.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            var examParams = {{ examParams|raw }};
            var reportParams = {{ reportParams|raw }};
            var role = '{{ role }}';
            var exam = null;
            var report = null;

            if (reportParams) {
                report = new Report(reportParams);
            }

            if (role == 'role_expert') {
                exam = new ExamForExpert($.extend(examParams, {'currentReport' : report, 'userOrganizationId': '{{ organizationId }}', 'isCorporateExpert': '{{ isCorporateExpert }}', 'wasGraded': '{{ wasGraded }}', 'wasAsked': '{{ wasAsked }}'  }));
            } else if (role == 'role_viewer') {
                exam = new ExamForViewer($.extend(examParams, {'currentReport' : report}));
            }

            if (exam.currentReport) {
                exam.drawReport(exam.currentReport);
            }

            {{ include(':AppBundle/partials:web_socket_connect.js.twig') }}
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#questionListContainer').mCustomScrollbar();
            $('#questionListContainer').mCustomScrollbar("scrollTo","bottom",{
                scrollInertia:3000
            });
        })
    </script>
{% endblock %}