<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{% block title %}Онлайн защита дипломов{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/master.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/mCustomScrollbar/jquery.mCustomScrollbar.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="cm_wraper">
            <div class="cm_header">
                <a href="{{ path('diplom_default') }}" class="cm_logo"></a>
                <div class="hd_nav">
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ knp_menu_render('AppBundle:Builder:adminMenu', { template: ':AppBundle/Menu:admin_menu.html.twig' }) }}
                        {% endif %}
                        <a href="{{ path('fos_user_security_logout') }}" class="hd_nav-item hd_nav-exit">Выход</a>
                    {% endif %}
                </div>
            </div>
            <div class="cm_content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {% javascripts '@js_base' output='compiled/js/base.js' %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
