<div class="ad_modal ad_modal-1000" id="modal" style="display: none">
    <div class="ad_modal-body">
        <div class="ad_modal-header">
            <div class="ad_modal-title">Оценка дипломной работы студента</div>
            <a href="#" class="ad_modal-close">×</a>
        </div>
        <div class="ad_modal-content">
            {{ form_start(gradeForm) }}
            <table class="table-form">
                <tbody>
                <tr>
                    <td class="table-form-label">
                        <div class="table-form-label-title">Актуальность и новизна материала</div>
                        <div class="table-form-label-sb-title cm_darck">Анализ влияния гидродинамических методов разработки месторождений при высокой выработанности запасов нефти на технико-экономические показатели </div>
                    </td>
                    <td class="table-form-control table-form-control-w3">
                        <div class="table-form-control-lable">мax: 2</div>
                        {{ form_widget(gradeForm.gradeTopicality, {'attr': {'class': 'form-control'}}) }}
                    </td>
                </tr>
                <tr>
                    <td class="table-form-label">
                        <div class="table-form-label-title">Содержание презентации</div>
                        <div class="table-form-label-sb-title cm_darck">Анализ влияния гидродинамических методов разработки месторождений при высокой выработанности запасов нефти на технико-экономические показатели </div>
                    </td>
                    <td class="table-form-control table-form-control-w3">
                        <div class="table-form-control-lable">мax: 2</div>
                        {{ form_widget(gradeForm.gradeContent, {'attr': {'class': 'form-control'}}) }}
                    </td>
                </tr>
                <tr>
                    <td class="table-form-label">
                        <div class="table-form-label-title">Мастерство</div>
                        <div class="table-form-label-sb-title cm_darck">Анализ влияния гидродинамических методов разработки месторождений при высокой выработанности запасов нефти на технико-экономические показатели </div>
                    </td>
                    <td class="table-form-control table-form-control-w3">
                        <div class="table-form-control-lable">мax: 1</div>
                        {{ form_widget(gradeForm.gradeSkill, {'attr': {'class': 'form-control'}}) }}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="all-right">
                <input type="button" value="Отменить" class="cm_btn cm_btn-danger">
                <input type="submit" value="Отправить оценку" class="cm_btn">
            </div>
            {{ form_end(gradeForm) }}
        </div>
    </div>
</div>