{% if pageCount > 1 %}
    <div class="cm_paginator">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="cm_paginator-item">&lt;&lt;</a>
        {% endif %}

        {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="cm_paginator-item">&lt;</a>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="cm_paginator-item">{{ page }}</a>
            {% else %}
                <span class="cm_paginator-item active">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="cm_paginator-item">&gt;</a>
        {% endif %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="cm_paginator-item">&gt;&gt;</a>
        {% endif %}
    </div>
{% endif %}