ab.connect(
    'ws://{{ app.request.getHttpHost() }}:{{ websocket_port }}',
    function (session) {
        {% if invariable_topics is defined %}
            new ExamClient(exam, session, {{ topics|raw }}, {{ invariable_topics|raw }});
        {% else %}
            new ExamClient(exam, session, {{ topics|raw }});
        {% endif %}
    },
    function (code, reason, detail) {
        if (code == ab.CONNECTION_UNSUPPORTED) {
            window.location.href = '{{ path('diplom_supported_browsers') }}';
        }
    },
    {maxRetries: 100, retryDelay: 2000}
);