<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Онлайн защита дипломов</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/master.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/the-modal.css') }}">
        <script src="{{ asset('compiled/js/base.js') }}" type="text/javascript"></script>
    </head>

    <body>
        <div class="cm_auth">
            <div class="cm_auth-header">
                Онлайн-защита дипломных проектов
            </div>
            <div class="cm_auth-content">
                {% trans_default_domain 'FOSUserBundle' %}

                {% block fos_user_content %}
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group{% if error %} has-error{% endif %}">
                            <label for="username">{{ 'security.login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" required="required" class="form-control" />
                        </div>

                        <div class="form-group{% if error %} has-error{% endif %}">
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" required="required" class="form-control" />
                            {% if error %}
                                <div class="has-error_message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="cm_btn pull-left" />
                        </div>
                    </form>
                {% endblock fos_user_content %}
            </div>
        </div>
    </body>
</html>
