{% extends ':AppBundle:client_base.html.twig' %}

{% block body %}
    <p>Уважаемый пользователь!</p>
    <p id="message">Устанавливается WebSocket соединение</p>
    <div id="browser_links"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/device.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var deviceJs = device.noConflict();

            ab.connect(
                'ws://{{ app.request.getHttpHost() }}:{{ websocket_port }}',
                function (session) {
                    window.location.href = '{{ path('diplom_default') }}';
                },
                function (code, reason, detail) {
                    if (code == ab.CONNECTION_UNSUPPORTED) {
                        var $links = $('#browser_links');

                        $('#message').html('Для продолжения работы просим вас обновить браузер до акутальной версии или скачать один из предложенных ниже:');

                        if (deviceJs.mobile()) {
                            $links.append('<p><a href="https://www.google.ru/chrome/browser/mobile/" target="_blank">Google Chrome</a></p><p><a href="https://browser.yandex.ru/mobile/?promodesktop=new#main" target="_blank">Яндекс.Браузер</a></p>');
                        } else if (deviceJs.tablet()) {
                            $links.append('<p><a href="https://www.google.ru/chrome/browser/mobile/" target="_blank">Google Chrome</a></p><p><a href="https://browser.yandex.ru/tablet/?promodesktop=new#main" target="_blank">Яндекс.Браузер</a></p>');
                        } else {
                            $links.append('<p><a href="https://www.google.ru/chrome/browser/desktop/" target="_blank">Google Chrome</a></p><p><a href="https://www.mozilla.org/ru/firefox/new/" target="_blank">Mozilla Firefox</a></p><p><a href="https://browser.yandex.ru/desktop/#main" target="_blank">Яндекс.Браузер</a></p><p><a href="http://www.opera.com/ru" target="_blank">Opera</a></p>');
                        }
                    }
                },
                {maxRetries: 100, retryDelay: 2000}
            );
        });
    </script>
{% endblock %}