.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20 {
	display: inline;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 20 Columns
--------------------------------------------------------------------------------*/
.grid_1 {width: 26px;}
.grid_2 {width: 76px;}
.grid_3 {width: 126px;}
 .grid_4 {width: 176px;}
 .grid_5 {width: 226px;}
 .grid_6 {width: 276px;}
 .grid_7 {width: 326px;}
 .grid_8 {width: 376px;}
 .grid_9 {width: 426px;}
 .grid_10 {width: 476px;}
 .grid_11 {width: 526px;}
 .grid_12 {width: 576px;}
 .grid_13 {width: 626px;}
 .grid_14 {width: 676px;}
 .grid_15 {width: 726px;}
 .grid_16 {width: 776px;}
 .grid_17 {width: 826px;}
 .grid_18 {width: 876px;}
 .grid_19 {width: 926px;}
 .grid_20 {width: 976px;}

/* =Prefix Extra Space >> 20 Columns
--------------------------------------------------------------------------------*/
 .prefix_1 {padding-left: 50px;}
 .prefix_2 {padding-left: 100px;}
 .prefix_3 {padding-left: 150px;}
 .prefix_4 {padding-left: 200px;}
 .prefix_5 {padding-left: 250px;}
 .prefix_6 {padding-left: 300px;}
 .prefix_7 {padding-left: 350px;}
 .prefix_8 {padding-left: 400px;}
 .prefix_9 {padding-left: 450px;}
 .prefix_10 {padding-left: 500px;}
 .prefix_11 {padding-left: 550px;}
 .prefix_12 {padding-left: 600px;}
 .prefix_13 {padding-left: 650px;}
 .prefix_14 {padding-left: 700px;}
 .prefix_15 {padding-left: 750px;}
 .prefix_16 {padding-left: 800px;}
 .prefix_17 {padding-left: 850px;}
 .prefix_18 {padding-left: 900px;}
 .prefix_19 {padding-left: 950px;}

/* =Suffix Extra Space >> 20 Columns
--------------------------------------------------------------------------------*/
 .suffix_1 {padding-right: 50px;}
 .suffix_2 {padding-right: 100px;}
 .suffix_3 {padding-right: 150px;}
 .suffix_4 {padding-right: 200px;}
 .suffix_5 {padding-right: 250px;}
 .suffix_6 {padding-right: 300px;}
 .suffix_7 {padding-right: 350px;}
 .suffix_8 {padding-right: 400px;}
 .suffix_9 {padding-right: 450px;}
 .suffix_10 {padding-right: 500px;}
 .suffix_11 {padding-right: 550px;}
 .suffix_12 {padding-right: 600px;}
 .suffix_13 {padding-right: 650px;}
 .suffix_14 {padding-right: 700px;}
 .suffix_15 {padding-right: 750px;}
 .suffix_16 {padding-right: 800px;}
 .suffix_17 {padding-right: 850px;}
 .suffix_18 {padding-right: 900px;}
 .suffix_19 {padding-right: 950px;}

/* `Push Space >> 20 Columns
--------------------------------------------------------------------------------*/
 .push_1 {left: 50px;}
 .push_2 {left: 100px;}
 .push_3 {left: 150px;}
 .push_4 {left: 200px;}
 .push_5 {left: 250px;}
 .push_6 {left: 300px;}
 .push_7 {left: 350px;}
 .push_8 {left: 400px;}
 .push_9 {left: 450px;}
 .push_10 {left: 500px;}
 .push_11 {left: 550px;}
 .push_12 {left: 600px;}
 .push_13 {left: 650px;}
 .push_14 {left: 700px;}
 .push_15 {left: 750px;}
 .push_16 {left: 800px;}
 .push_17 {left: 850px;}
 .push_18 {left: 900px;}
 .push_19 {left: 950px;}

/* `Pull Space >> 20 Columns
--------------------------------------------------------------------------------*/
 .pull_1 {left: -50px;}
 .pull_2 {left: -100px;}
 .pull_3 {left: -150px;}
 .pull_4 {left: -200px;}
 .pull_5 {left: -250px;}
 .pull_6 {left: -300px;}
 .pull_7 {left: -350px;}
 .pull_8 {left: -400px;}
 .pull_9 {left: -450px;}
 .pull_10 {left: -500px;}
 .pull_11 {left: -550px;}
 .pull_12 {left: -600px;}
 .pull_13 {left: -650px;}
 .pull_14 {left: -700px;}
 .pull_15 {left: -750px;}
 .pull_16 {left: -800px;}
 .pull_17 {left: -850px;}
 .pull_18 {left: -900px;}
 .pull_19 {left: -950px;}
