@import url('font-awesome.css');
@import url('bootstrap.css');
@import url('grid.css');
@import url('the-modal.css');
*{	
	margin: 0;
	padding: 0;
	zoom:1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
body{
	font-family: "Arial";
	line-height: 23px;
	font-size: 14px;
}
img{
	max-width: 100%;
}
a img{
	border: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
}
.cm_h1,
.cm_h2,
.cm_h3,
.cm_h4,
.cm_h5,
.cm_h6,
h1, h2, h3, h4, h5, h5{
	margin-bottom: 35px;
	font-weight: normal;
}
.cm_h1, h1{
	font-size: 28px;
	line-height: 30px;
}
.cm_h2, h2{
	font-size: 25px;
	line-height: 30px;
}
.cm_h3, h3{
	font-size: 22px;
}
.cm_h4, h4{
	font-size: 18px;
	margin-bottom: 18px;
}
.cm_h5, h5{
	font-size: 16px;
	margin-bottom: 18px;
}
.cm_h6, h6{
	font-size: 14px;
	margin-bottom: 10px;
}
.col-sm-pull{
	margin-left: -15px;
	margin-right: -15px;
}

a{
	color: #26b778;
}
.clear{
	clear: both;
}
.cm_h-back{
	padding: 10px 0 0 80px;
}
.cm_h-back:after{
	content: '\0020';
	display: table;
	clear: both;
}
.cm_h-back-btn{
	float: left;
	margin: -10px 0 0 -80px;
	width: 50px;
	height: 50px;
	display: block;
	background: url(img/fa-back.png) no-repeat center;
	cursor: pointer;
}
.cm_logo{
	width: 143px;
	height: 15px;
	display: block;
	background: url(img/fa-logo.png) no-repeat 0 0;
	float: left;
}
.cm-h{
	font-size: 20px;
	margin-bottom: 15px;
}
.cm-h2{
	font-size: 18px;
}
.cm_wraper{
	width: 1000px;
	margin: 0 auto;
}
.cm_header{
	border-bottom: 1px solid #dadada;
	height: 73px;
	padding-top: 38px;
	margin-bottom: 20px;
}
.cm_content{
	padding-bottom: 70px;
}
.c_success{
	color: #26b778;
}
.hd_nav{
	display: inline-block;
	float: right;
	font-size: 14px;
}
.hd_nav-item{
	margin-left: 20px;
	display: inline;
}
a.hd_nav-item{
	color: #26b778;
}
a.hd_nav-exit{
	color: #f45753;
}
table{
	width: 100%;
	max-width: 100%;
}
.cm_well{
	background-color: #f8f8f8;
	margin: 0 -70px 15px -70px;
	padding: 0 70px;
}
.cm_well-pb{
	padding-bottom: 14px;
}
.cm_well-default{
	padding-top: 25px;
	padding-bottom: 25px;
}
.gx_content{
	
}
.gx_content-title{
	font-size: 18px;
	padding: 16px 0;
	border-bottom: 1px solid #26b778;
}
.gx_content-scroling{
	overflow-x:hidden;
	overflow-y:auto;
	max-height: 175px;  
}


.gx_tab{
	font-size: 14px;
	width: 100%;
	border-collapse: collapse;
	color: #b5b5b5;
}
.gx_tab td{
	vertical-align: top;
}
.gx_tab tbody tr td{
	padding: 13px 0;
	border-bottom: 1px solid #dadada;
}
.gx_tab tbody tr:last-child td{
	border-bottom-color: transparent;
}
.gx_tab-sub-title{
	font-size: 18px;
	color: #000;
	text-decoration: none;
}
.gx_tab-sub-title:hover{
	color: #26b778;
}
.gx_tab td.gx_tab_label{
    padding-right: 10px;
}
.xs-table{
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}
.xs-table td{
	vertical-align: top;
}
.xs-table thead tr td{
	padding: 13px 0;
	border-bottom: 1px solid #26b778;
	color: #b5b5b5;
}
.xs-table tbody tr td{
	padding: 13px 0;
	border-bottom: 1px solid #dadada;
}
.xs-table tbody tr:last-child td{
	border: none;
}
.xs-table tfoot tr td{
	padding: 13px 0;
	border-top: 1px solid #26b778;
	font-size: 18px;
}
.xs-table-cp{
	font-size: 18px;
	color: #000 !important;
}
.cm_btn{
	font-size: 13px;
	text-align: center;
	padding: 12px 30px;
	line-height: 15px;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
	background-color: #23b878;
	display: inline-block;
	border: none;
}
.cm_btn-danger{
	background-color: #ef4644;
}
.cm_btn-default{
    background-color: #f5f5f5;
    color: #444;
}
.cm_btn-block{
	display: block;
	width: 100%;
}

.present_body{
	height: 490px;
	margin-bottom: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/presentation_preview.jpg);
    background-size: contain;
    background-color: #000;
}
.present_body-min{
	position: relative;
    background-color: transparent;
    background-image: none;
}
.present_cell-left{
	float: left;
	width: 660px;
}
.present_cell-right{
	float: right;
	width: 322px;
}
.present_body-min-top{
	height: 247px;
}
.present_body-min-bottom{
	height: 243px;
	background-color: #f8f8f8;
}
.present_body-scroll{
	overflow-x:hidden;
	overflow-y:auto;  
}
.present_body-list{
	padding: 0 10px;
	font-size: 14px;
}
.present_body-list-item{
	padding: 13px 0;
	border-bottom: 1px solid #dadada;
}
.present_body-list-item:last-child{
	border-bottom: none;
}
.present_action-edit{
	height: 40px;
	padding-right: 40px;
	position: relative;
}
.present-control{
	height: 40px;
	padding: 0 15px;
	border: 1px solid #dadada;
	width: 100%;
	color: #b5b5b5;
	line-height: 40px;
	display: block;
}
.present_action-btn{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 41px;
	color: #fff;
	text-align: center;
	background-color: #ef4644;
	border: none;
	cursor: pointer;
}
.present_action-btn-success{
	background-color: #26b778;
    cursor: pointer;
}
.present_action-btn-hidden{
    background-color: rgba(103, 63, 70, 0.11);
    cursor: default;
}

.cm_widget-item{
    width: 300px;
    float: left;
    margin: 0 50px 30px 0;
}
.cm_widget-item-wr{
    border: 1px solid #dadada;
    padding: 25px 25px 10px 25px;
}
.cm_widget-item-title{
    font-size: 14px;
    margin: -25px -25px 17px -25px;
    padding: 5px 25px;
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    color: #666;
    background-color: #FBFBFB;
}
.cm_widget-nav{
    font-size: 13px;
}
.cm_widget-nav-item{
    display: block;
    text-decoration: none;
    color: #666;
    line-height: 16px;
    margin-bottom: 10px;
}
.cm_widget-item-wr:hover{
    border-color: #ccc;
}
.cm_widget-item-wr:hover .cm_widget-item-title{
    color: #000;
}
.cm_widget-nav-item:hover{
    color: #F45753;
}
.cm_paginator{
	margin-bottom: 40px;
}
.cm_paginator-item,
.cm_test-paginator-item{
	text-decoration: none;
	color: #000;
	display: inline-block;
	height: 30px;
	text-align: center;
	line-height: 28px;
	padding: 0 3px;
	margin-right: 4px;
	margin-bottom: 1px;
	min-width: 30px;
	border: 1px solid #dadada;
}
.cm_paginator-item.active,
.cm_paginator-item:hover{
	background-color: #26b778;
	border-color: #26b778;
	color: #fff;
}
.cm_table{
	width: 100%;
	font-size: 13px;
	border-collapse: collapse;
}
.cm_table thead tr td {
    border-bottom: 1px solid #26b778;
    color: #b5b5b5;
    padding: 13px 0;
}
.cm_table tbody tr td {
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}
.cm_table_sp-hover tbody tr:hover td{
	background-color: #f8f8f8;
}
.cm_table-btn{
	background-color: #e27271;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    margin: 0 2px 2px 0;
    padding: 0 7px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.form-user-photo{
    border: 1px solid #e7e7e7;
    padding: 30px;
    box-shadow: 0px 2px 3px #e4e4e4;
    -moz-box-shadow: 0px 2px 3px #e4e4e4;
    -webkit-box-shadow: 0px 2px 3px #e4e4e4;
    text-align: center;
    margin-left: 15px;
}
.form-user-photo-img{
    overflow: hidden;
    margin-bottom: 25px;
    line-height: 0;
    text-align: center;
    min-height: 150px;
}
.form-user-photo-img img{
    max-width: 100%;
    height: auto;
}
.cm_auth{
	width: 390px;
	margin: 0 auto;
}
.cm_auth-header{
	padding-top: 99px;
	font-size: 16px;
	text-align: center;
	color: #a8a8a8;
	margin-bottom: 40px;
	background: url(img/fa-logo-f.png) no-repeat center;
}
.cm_auth-content{
	background-color: #fafafa;
	border: 1px solid #e3e3e3;
	padding: 35px 73px;
}
.cm_auth-info{
	line-height: 18px;
	font-size: 12px;
	margin-left: 10px;
	float: right;
	display: inline-block;
}
.cm_auth-info-l{
	text-decoration: none;
}
.cm_auth-info-lr{
	color: #c2c2c2;
}
.table-form tbody tr td{
	border-bottom: 1px solid #ccc;
}
.table-form{
	border-top: 1px solid #26b778;	
	margin-bottom: 20px;
}
.table-form tr:last-child td{
	border-bottom: 1px solid #26b778;
}
.table-form td{
	padding: 20px 10px;
}
.table-form-control{
	width: 65px;
}
.table-form-control-w3{
	width: 150px;
}
.table-form-control-lable{
	color: #b5b5b5;
	font-size: 18px;
}
td.table-form-label{
	padding-left: 0;
}
.table-form-label-title{
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 4px;
}
.table-form-label-sb-title{
	font-size: 14px;
	line-height: 15px;
	color: #b5b5b5;
}
.table-form-action-row:after,
.table-form-action-row:before{
	content: '\0020';
	display: table;
	clear: both;
}
.table-form-action-lable{
	float: left;
	width: 200px;
	margin-right: 10px;
	padding-top: 6px;
}
.table-form-action-control{
	width: 60px;
	padding: 0 10px;
	float: left;
}
.cm_listdrag{
    position: relative;
    font-size: 14px;
}
.cm_listdrag-item{
    margin-bottom: 3px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    cursor: move;
}
.cm_listdrag-item:hover{
    background-color: #f2f2f2;
}
.cm_listdrag-item-title{
    color: #888;
}
.cm_form_mask{
    position: relative;
    z-index: 150;
}
.cm_form_mask:after{
    content: '\0020';
    display: block;
    position: absolute;
    z-index: 1500;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.has-error_message{
    color: #a94442;
}
.cm_success{
	color: #26b778;
}
.cm_darck{
	color: #000;
}
.all-center{
	text-align: center;
}
.all-right{
	text-align: right;
}
.all-left{
	text-align: left;
}
.all-top{
	vertical-align: top;
}
.all-bottom{
	vertical-align: bottom;
}
.all-mcenter{
	vertical-align: middle;
}
.box-center{
	margin-left: auto;
	margin-right: auto;
}

.coordinator-button{
    display: none;
}

.reportControlButton{
    display: none;
}
.error {
    font-size: 10px;
    color: red;
    line-height: 13px;
    float: left;
}

.inactive-add_grade-link, .add_question_btn_inactive{
    background-color: rgba(3, 3, 43, 0.26);
    cursor: default;
}