.themodal-lock {
	/* when modal is opened we're removing scrollbars from the main content */
	overflow: hidden;
}

.themodal-overlay {
	/* overlay will stay fixed and will take all the space available */
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2147483647;

	/* if modal content doesn't fit inside the overlay, display scrollbars */
	overflow: auto;

	/* allow one-finger iPad scrolling */
	-webkit-overflow-scrolling: touch;

}

/* fix for iPad glitches */
.themodal-overlay > * {
	-webkit-transform: translateZ(0px);
}

.themodal-overlay {
	background: rgba(0, 0, 0, 0.5);
	/* IE6–IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
	zoom: 1;
}


.ad_modal{
	background-color: #fff;
	width: 600px;
	margin: 50px auto;
	position: relative;
	z-index: 100;
	overflow: hidden;
}
.ad_modal-1000{
	width: 1024px;
}
.ad_modal-body{
	
}
.ad_modal-header{
	padding: 20px 30px;
	border-bottom: 1px solid #e7e7e7;
	background-color: #f8f8f8;
	box-shadow: 0 0px 3px #ccc;
	-moz-box-shadow: 0 0px 3px #ccc;
	-webkit-box-shadow: 0 0px 3px #ccc;
}
.ad_modal-content,
.ad_modal-footer{
	padding: 20px 30px;
}
.ad_modal-footer{
	border-top: 1px solid #e7e7e7;
}
.ad_modal-close{
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(img/fa-close.png) no-repeat center;
	position: absolute;
	right: 30px;
	top: 22px;
	overflow: hidden;
	text-indent: 9999px;
	white-space: nowrap;
}
.ad_modal-title{
	font-size: 24px;
	color: #888;
}