{% extends ':AppBundle/admin:layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="cm_h1 cm_h-back">
        <a href="{{ path('diplom_admin_exam_index') }}" class="cm_h-back-btn"></a>
        Список экзаменов
    </div>

    <div class="grid_10 alpha">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.chairman) }}
        {{ form_row(form.coordinator) }}
        {{ form_row(form.delay) }}
        <div class="cm_well cm_well-default">
            <input type="submit" value="Сохранить" class="btn btn-success"/>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}