{% extends ':AppBundle/admin:layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Список экзаменов</h1>
    <table>
        <tbody><tr>
            <td class="all-top">

            </td>
            <td class="all-right all-top">
                <a href="{{ path('diplom_admin_exam_create') }}" class="cm_btn">Добавить</a>
            </td>
        </tr>
        </tbody></table>
    <table class="cm_table">
        <thead>
        <tr>
            <td>Название</td>
            <td width="200">Статус</td>
            <td width="300">Действие</td>
        </tr>
        </thead>
        {% for exam in exams %}
            <tr>
                <td>{{ exam.name }}</td>
                <td>{{ exam.status|examStatus }}</td>
                <td>
                    {% if activeExam == false %}
                        {% if exam.status == constant('\\AppBundle\\Enum\\ExamStatus::DRAFT') %}
                            <a class="cm_table-btn" href="{{ url('diplom_admin_exam_to_preparation', {'id': exam.id}) }}">Отправить координатору</a>
                        {% endif %}
                        {% if exam.status == constant('\\AppBundle\\Enum\\ExamStatus::PREPARATION') %}
                            <a class="cm_table-btn" href="{{ url('diplom_admin_exam_to_draft', {'id': exam.id}) }}">Отменить подготовку</a>
                        {% endif %}
                    {% endif %}
                    {% if exam.status == constant('\\AppBundle\\Enum\\ExamStatus::COMPLETED') %}
                        <a class="cm_table-btn" href="{{ url('diplom_admin_exam_to_archive', {'id': exam.id}) }}">Отправить в архив</a>
                    {% endif %}
                    <a href="{{ url('diplom_admin_exam_edit', {'id': exam.id}) }}" class="cm_table-btn">Редактировать</a>
                    <a href="{{ url('diplom_admin_exam_reports', {'exam': exam.id}) }}" class="cm_table-btn">Доклады</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="cm_table-btn" href="{{ path('diplom_admin_exam_reset', { exam: exam.id }) }}">Сбросить</a>
                    {% endif %}
                    {% if is_granted('remove', exam) %}
                        <a href="{{ url('diplom_admin_exam_remove', {'id': exam.id}) }}" class="cm_table-btn" onclick="return confirm('Удалить экзамен?');">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}