{% extends ':AppBundle/admin:layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="cm_h1 cm_h-back">
        <a href="{{ path('diplom_admin_exam_reports', { exam: exam.id }) }}" class="cm_h-back-btn"></a>
        {{ title }}
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="grid_12">
            {{ form_row(form.student) }}
            {{ form_row(form.faculty) }}
            {{ form_row(form.specialty) }}
            {{ form_row(form.specialization) }}
            {{ form_row(form.groupNumber) }}
            {{ form_row(form.name) }}
            {{ form_row(form.organization) }}
            {{ form_row(form.departmentHead) }}
            {{ form_row(form.companyHead) }}
            {{ form_row(form.averageGrade) }}
            {{ form_row(form.phoneNumber) }}
        </div>

        <div class="grid_8 omega">
            <div class="form-user-photo">
                <div class="form-user-photo-img">
                    {% if report.webPath and report.webPath != '/uploads/user/photo/initial' %}
                        <img src="{{ report.webPath }}" width="180" alt="">
                    {% else %}
                        <img src="{{ asset('bundles/app/css/img/default.png') }}" width="180" alt="">
                    {% endif %}
                </div>

                <div class="cm_btn cm_btn-default cm_btn-block" style="background: url({{ asset('bundles/app/css/img/upload-button.png') }}) no-repeat; margin-left: 40px;">
                    {{ form_widget(form.file, { attr: { style: 'filter: alpha(opacity=0);opacity: 0;' } }) }}
                </div>
                {{ form_errors(form.file) }}
            </div>

        </div>
        <div class="clear"></div>
        <div class="cm_well cm_well-default">
            <input type="submit" class="cm_btn" value="Сохранить">
        </div>
    {{ form_end(form) }}

{% endblock %}