{% extends ':AppBundle/admin:layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="cm_h1 cm_h-back">
        <a href="{{ path('diplom_admin_exam_index') }}" class="cm_h-back-btn"></a>
        Список экзаменов
    </div>

    {% if reports|length %}
        <table class="cm_table">
            <thead>
            <tr>
                <td width="50">№</td>
                <td>Название</td>
                <td width="260">Действие</td>
            </tr>
            </thead>
            <tbody>
            {% for key, report in reports %}
                <tr>
                    <td>{{ key + 1 }}</td>
                    <td>{{ report.student }}</td>
                    <td>
                        <a class="cm_table-btn" href="{{ path('diplom_admin_exam_report_edit', { exam: exam.id, report: report.id }) }}">Редактировать</a>
                        <a class="cm_table-btn" href="{{ path('diplom_coordinator_report_protocol', { id: report.id }) }}">Протокол</a>
                        {% if is_granted('remove', report) %}
                            <a class="cm_table-btn remove-report" href="{{ path('diplom_admin_exam_report_remove', { exam: exam.id, report: report.id }) }}">Удалить</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div style="margin-top: 20px;">
        <a class="cm_btn" href="{{ path('diplom_admin_exam_report_create', { exam: exam.id }) }}">Добавить</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.remove-report').on('click', function() {
                return confirm('Уверены, что хотите удалить доклад?');
            });
        });
    </script>
{% endblock %}