<div class="ad_modal" id="modal" style="display: none">
    <div class="ad_modal-body">
        <div class="ad_modal-header">
            <div class="ad_modal-title">Список докладов</div>
            <a href="#" class="ad_modal-close">×</a>
        </div>
        <form action="#">
            <div class="ad_modal-content">
                <div class="cm_listdrag" id="sortable">
                </div>
            </div>
            <div class="ad_modal-footer">
                {#<input type="submit" class="cm_btn" value="Кнопка">#}
            </div>
        </form>
    </div>
</div>