{% extends ':AppBundle:client_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/the-modal.css') }}"/>
{% endblock %}

{% block body %}
    <div class="cm-h" id="reportButtonsContainer">
        <a href="#" class="cm_btn pull-right reportControlButton" id="startReportButton">Начать доклад</a>
        <a href="#" class="cm_btn pull-right reportControlButton" id="reportToDiscussionButton">Перейти к обсуждению</a>
        <a href="#" class="cm_btn pull-right reportControlButton" id="reportToProtocolButton">Подведение итогов</a>
        <a href="#" class="cm_btn pull-right reportControlButton" id="saveCommissionGradesButton">Сохранить оценки</a>
        <a href="#" class="cm_btn pull-right reportControlButton" id="protocolButton" target="_blank">Распечатать протокол</a>
        <a href="#" class="cm_btn pull-right reportControlButton" id="endReportButton">Закончить доклад</a>

        <span class="c_success">Тема:</span> <span id="reportTitle"></span>
    </div>
    <div class="cm-h">
        <span class="c_success">Студент:</span> <span id="studentFio"></span>
    </div>
    <div id="commissionGrades" style="display: none">
        <div class="cm_h4 cm_success">Оценка выставленная членами экзаменационной комиссии</div>
        <form>
            <table class="table-form">
                <tr>
                    <td>
                        Количество членов комиссии
                        <a href="" id="lessCols"><i class="fa fa-minus" style="font-size: 20px"></i></a>
                        <span style="font-size: 20px" id="gradeCols">6</span>
                        <a href="" id="moreCols"><i class="fa fa-plus" style="font-size: 20px"></i></a>
                    </td>
                </tr>
            </table>
            <table class="table-form">
                <tbody>
                <tr id="gradeTopicality" data-max="2">
                    <td class="table-form-label">
                        <div class="table-form-label-title">Актуальность и новизна материала</div>
                        <div class="table-form-label-sb-title">Максимум 2 балла</div>
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control active" disabled>
                    </td>
                </tr>
                <tr id="gradeContent" data-max="2">
                    <td class="table-form-label">
                        <div class="table-form-label-title">Техника презентации материала</div>
                        <div class="table-form-label-sb-title">Максимум 2 балла</div>
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control active" disabled>
                    </td>
                </tr>
                <tr id="gradeSkill" data-max="1">
                    <td class="table-form-label">
                        <div class="table-form-label-title">Мастерство</div>
                        <div class="table-form-label-sb-title">Максимум 1 балл</div>
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control">
                    </td>
                    <td class="table-form-control">
                        <input type="text" class="form-control active" disabled>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-form-action">
                <div class="table-form-action-row">
                </div>
            </div>
        </form>
    </div>


    <div id="infoPanel">
        <div class="cm_well cm_well-pb">
            <div class="gx_content">
                <div class="gx_content-title">Вопросы</div>
                <div class="gx_content-body gx_content-scroling scroll-start" id="questionListContainer">
                    <table class="gx_tab">
                        <tbody id="questionList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <table class="xs-table" id="table-grades">
            <thead>
            <tr>
                <td class="xs-table-cp">Оценки</td>
                <td class="all-center">Корпоративная группа</td>
                <td class="all-center">Производственная группа</td>
                <td class="all-center">Средняя оценка</td>
            </tr>
            </thead>
            <tbody>
            <tr class="grade-topicality">
                <td>Актуальность и новизна</td>
                <td class="all-center corporate_expert"></td>
                <td class="all-center expert"></td>
                <td class="all-center average"></td>
            </tr>
            <tr class="grade-content">
                <td>Содержание презентации</td>
                <td class="all-center corporate_expert"></td>
                <td class="all-center expert"></td>
                <td class="all-center average"></td>
            </tr>
            <tr class="grade-skill">
                <td>Мастерство</td>
                <td class="all-center corporate_expert"></td>
                <td class="all-center expert"></td>
                <td class="all-center average"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="grade-total">
                <td class="xs-table-cp">Сумма</td>
                <td class="all-center total_corporate_expert"></td>
                <td class="all-center total_expert"></td>
                <td class="all-center average"></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="cm_well cm_well-default" id="bottomControlPanel" style="display: none">
        <table>
            <tr>
                <td>
                    <div class="cm-h2">
                        <span class="c_success">Следующий студент: </span><span id="nextStudentFio"></span>
                    </div>
                </td>

                <td class="all-right coordinator-button" id="sortReportsButtonContainer" style="padding-left:30px;">
                    <a href="#" class="cm_btn" id="sortReportsButton">Редактировать</a>
                </td>
                <td class="all-right coordinator-button" id="startExamButtonContainer" style="padding-left:15px;">
                    <a href="#" class="cm_btn cm_btn-danger" id="startExamButton">Начать экзамен</a>
                </td>
                <td class="all-right coordinator-button" id="endExamButtonContainer" style="padding-left:15px;">
                    <a href="#" class="cm_btn cm_btn-danger" id="endExamButton">Закончить экзамен</a>
                </td>
            </tr>
        </table>
    </div>

    {{ include(':AppBundle/coordinator:_sort_report_modal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@js_client_coordinator' output='compiled/js/client_coordinator.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function(){
            var examParams = {{ examParams|raw }};
            var reportParams = {{ reportParams|raw }};
            var role = '{{ role }}';
            var exam = null;
            var report = null;

            if (reportParams) {
                report = new Report(reportParams);
            }

            if (role == 'role_chairman') {
                exam = new ExamForChairman($.extend(examParams, {'currentReport' : report}));
            } else if (role == 'role_coordinator') {
                exam = new ExamForCoordinator($.extend(examParams, {'currentReport' : report}));
            }

            if (exam.currentReport) {
                exam.drawReport(exam.currentReport);
            }

            if (reportParams && exam) {
                var gradesCount = reportParams.grades.length;
                for (var i = 0; i < gradesCount; i++) {
                    exam.gradeNew(reportParams.grades[i]);
                }
            }

            {{ include(':AppBundle/partials:web_socket_connect.js.twig') }}
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#questionListContainer').mCustomScrollbar();
            $('#questionListContainer').mCustomScrollbar("scrollTo","bottom",{
                scrollInertia:3000
            });
        })
    </script>
{% endblock %}
