{% extends ':AppBundle/admin:layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="cm_h1 cm_h-back">
        <a href="{{ path('diplom_admin_user_index') }}" class="cm_h-back-btn"></a>
        Список пользователей
    </div>

    <div class="grid_10 alpha">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <div class="cm_well cm_well-default">
                <input type="submit" class="cm_btn" value="Сохранить">
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}