{% extends ':AppBundle/admin:layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="cm_h1">Администрирование пользователей</div>

    {% if pagination.getTotalItemCount > 0 %}
        <table>
            <tr>
                <td class="all-top">
                    {{ knp_pagination_render(pagination) }}
                </td>
                <td class="all-right all-top">
                    <a class="cm_btn" href="{{ path('diplom_admin_user_create') }}">Добавить</a>
                </td>
            </tr>
        </table>

        <table class="cm_table">
            <thead>
                <tr>
                    <td>№</td>
                    <td>Логин</td>
                    <td>Ф.И.О</td>
                    <td width="300">Действие</td>
                </tr>
            </thead>
            <tbody>
                {% for key, user in pagination %}
                    <tr>
                        <td>{{ key + 1 }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <a class="cm_table-btn" href="{{ path('diplom_admin_user_edit', { id: user.id }) }}">Редактировать</a>
                            <a class="cm_table-btn" href="{{ path('diplom_admin_user_change_password', { id: user.id }) }}">Сменить пароль</a>
                            <a class="cm_table-btn" href="{{ path('diplom_admin_user_lock', { id: user.id }) }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <a class="cm_btn" href="{{ path('diplom_admin_user_create') }}">Добавить</a>
    {% endif %}
{% endblock %}