{% extends ':AppBundle/admin:layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="cm_h1">Администрирование организаций</div>

    <table>
        <tr>
            <td class="all-top"></td>
            <td class="all-right all-top">
                <a class="cm_btn" href="{{ path('diplom_admin_reference_organization_create') }}">Добавить</a>
            </td>
        </tr>
    </table>

    <table class="cm_table">
        <thead>
        <tr>
            <td>Сортировка</td>
            <td>Название</td>
            <td>Эксперт</td>
            <td style="width: 180px;">Действия</td>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.position + 1 }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.expert }}</td>
                <td>
                    <a class="cm_table-btn" href="{{ path('diplom_admin_reference_organization_edit', { id: organization.id }) }}">Редактировать</a>
                    <a class="cm_table-btn" href="{{ path('diplom_admin_reference_organization_remove', { id: organization.id }) }}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}